<a href="https://colab.research.google.com/github/2303a51805/B-26_1805/blob/main/1805_pfds_29_8_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = [10,20,30,40,50]
series = pd.Series(data)
print("pandas Series:")
print(series)

pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
import pandas as pd
data = [10,20,30,40,50]
index_labels = ['a','b','c','d','e']
series = pd.Series(data,index_labels)


print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
import pandas as pd
data = {
    'Name':['Alice','Bob','Charlie'],
    'Age':[25,30,35],
    'City':['New York','San Francisco','Los Angeles']
    }
df = pd.DataFrame(data)
print("Pandas DataFrame;")
print(df)

Pandas DataFrame;
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [ ]:
print(df['Name'])
print(df[['Name','city']])
print(df.loc[1])
print(df.loc[2])
df['Salary'] = [40000,50000,60000,70000]
print(df)
df = df.drop('City',axis=1)
print(df)

In [ ]:
from types import AsyncGeneratorType
from collections.abc import AsyncGenerator
print(df[df['Age']>30])
print(df['Age'].max())
print(df['Age'])
print(df['Age'].min())

      Name  Age         City
2  Charlie   35  Los Angeles
35
0    25
1    30
2    35
Name: Age, dtype: int64
25

In [ ]:
import pandas as pd
student_data = {
    'student_id':[101,102,103,104],
    'Name':['Ravi','Neha','Kiran','Sita'],
    'Marks':[85,90,78,92],
    'Department':['CSE','ECE','MECH','CSE']
}
df = pd.DataFrame(student_data)
print("Student Data")
print(df)

Student Data
   student_id   Name  Marks Department
0         101   Ravi     85        CSE
1         102   Neha     90        ECE
2         103  Kiran     78       MECH
3         104   Sita     92        CSE

In [2]:
import pandas as pd


student_data = {
    's1_name': ['Ravi', 'Neha', 'Kiran', 'Sneha', 'Arjun'],
    's1_roll_no': [101, 102, 103, 104, 105],
    'm1': [78, 56, 90, 45, 88],
    'm2': [88, 76, 85, 67, 92],
    'm3': [92, 66, 70, 80, 75]
}


df = pd.DataFrame(student_data)


df['total'] = df[['m1', 'm2', 'm3']].sum(axis=1)
df['average'] = df[['m1', 'm2', 'm3']].mean(axis=1)


df['result'] = df.apply(lambda row: 'Pass' if (row['m1'] >= 40 and row['m2'] >= 40 and row['m3'] >= 40) else 'Fail', axis=1)


print("Student Data")
print(df)

Student Data
  s1_name  s1_roll_no  m1  m2  m3  total    average result
0    Ravi         101  78  88  92    258  86.000000   Pass
1    Neha         102  56  76  66    198  66.000000   Pass
2   Kiran         103  90  85  70    245  81.666667   Pass
3   Sneha         104  45  67  80    192  64.000000   Pass
4   Arjun         105  88  92  75    255  85.000000   Pass